RewriteEngine on 
RewriteRule ^(.*)/(.*)/(.*)/$ index.php?module=$1___$2___$3&%{QUERY_STRING} [L]
RewriteRule ^(.*)/(.*)/$ index.php?module=$1___$2&%{QUERY_STRING} [L]
RewriteRule ^(.*)/$ index.php?module=$1&%{QUERY_STRING} [L]